*{
    padding: 0;
    margin: 0;
}
body {
    
    background: rgb(236, 236, 236)
}
h1, h3 {
    text-align: center;
    font-family: 'Open Sans';
}
h1{ 
    padding: 20px 0;
    color: rgb(66, 66, 66);
}
h3 {
    color: rgb(119, 119, 119);
    padding-bottom: 20px;
}
#form input{
    width: 100%;
    border: 2px solid rgb(209, 209, 209);
    padding: 10px 0 15px 10px;
    font-size: 17px;
}
#list li{
    width: 100%;
    padding: 10px 0 15px 10px;
    background: white;
    font-size: 27px;
    color: rgb(119, 119, 119);
    border-bottom: 2px solid rgb(209, 209, 209);
}